body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/hero.jpg");
  height: 800px;
  position: relative;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  text-align: left;
  position: relative;
  margin-left: 5%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-button {
  background-color: #fff;
  color: #4f5152;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.hero-button:hover {
  background-color: rgb(25, 135, 84);
  color: #fff;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-popup {
  background-color: #fff;
  max-height: 770px;
  width: 800px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.ratio-3x2 {
  --bs-aspect-ratio: 66.67%;
}

.custom-margin {
  margin-bottom: calc(100vh - 900px);
}

.action-button {
  border: none;
  background-color: transparent;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 96px;
}

.content {
  flex: 1;
}